.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aliceblue;
  padding: 10px 0;

  &-item {
    padding: 15px 40px;
    border-radius: 8px;
    border: none;
    font: {
      weight: 500;
      size: 1.2rem;
    }
    
    &:hover {
      background-color: #f1f1f1;
    }

    &.list-item-active {
      background-color: #0a56f7;
      color: white;
      
    }
  }
}